/****view-quizzes ****/
.view-quizzes a {
  font-size:17px;
}
 .ariQuizQuestionRight p {
     font-size: 28px;
     font-weight: 700;
}
.ariQuizHeaderName {
    font-weight: bold;
    font-size: 23px;
}
.ariQuizQuestionTable tr {
    padding:20px;
}
#kunena.layout .pagination {
    margin-left: -42px!important;
}
.task-quiz_finished td {
    padding:10px!important;
}
.ariQuizProgressWrap {
    margin-left: 11px!important;
}
 html input[type=button],
 input[type=submit] {
    background: #26bdef!important;
    border: 1px solid #26bdef!important;
    color: #fff!important;
    padding: 15px 30px!important;
}
.ariQuizHeaderTable {
    margin-top: 50px;
}
#seminarman {
    padding-bottom:50px!important;
}
div#seminarman p {
    overflow: initial!important;
}
.favourites img {
    float:left!important;
}
div#seminarman .course_details {
    margin-top: 20px!important;
}
div#seminarman .buttons img {
    border: none;
    margin-top: -24px!important;
}
.view-quizzes table tbody tr td a {
    font-size: 20px;
    color: #fff;
    padding: 5px;
    line-height: 40px;
    background: #e91e63;
}
.view-quizzes table tbody tr td a:hover {
    background:#000!important;
}
.sectiontableheader {
  font-size:20px;
}
.input-mini {
    width: 68px!important;
}